.field-validation-error {
    color: red;
}
section.sign-up {
    padding: 65px 0px;
    background-image: url(../images/slide3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.sign-up .heading h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}

.sign-up button {
    margin-left: -30px;
    display: inline-block;
    background-color: transparent;
    color: #fff!important;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 3px;
    text-decoration: none;
    letter-spacing: 0.5px;
    border: 1px solid #fff;
}

.sign-up input {
    margin-right: -30px;
    height: 44px;
    border: 3px;
    background-color: rgba(250, 250, 250, 0.9);
    color: #5a5a5a!important;
    box-shadow: none!important;
    outline: none!important;
}
footer {
    background-color: #000000;
    line-height: 130px;
    text-align: center;
}

footer p {
    line-height: 120px;
    color: #fff;
    margin-top: 5px;
}

footer p em {
    font-style: normal;
    color: #f2745f;
    font-weight: 500;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0px 5px;
}

footer ul li i {
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 36px!important;
    background-color: #fff;
    border-radius: 50%;
    color: #050505;
    transition: all 0.5s;
}

footer ul li i:hover {
    background-color: #f2745f;
}