@* <footer> *@
@*             <div class="top-footer"> *@
@*                 <div class="container"> *@
@*                     <div class="row"> *@
@*                         <div class="col-md-3 col-sm-6 col-xs-12"> *@
@*                             <section class="list"> *@
@*                                 <header><h4> دسترسی سریع</h4></header> *@
@*                                 <ul> *@
@*                                     <li><a href="">مشاهده تمامی دوره ها</a></li> *@
@*                                     <li><a href="">قوانین خرید از سایت </a></li> *@
@*                                     <li><a href="">راهنمای خرید از سایت </a></li> *@
@*                                     <li><a href="">همکاری با تاپ لرن </a></li> *@
@*                                     <li><a href="">کسب درآمد از تاپ لرن </a></li> *@
@*                                     <li><a href="">ماهنامه طراحی وب</a></li> *@
@*                                 </ul> *@
@*                             </section> *@
@*                         </div> *@
@*                         <div class="col-md-3 col-sm-6 col-xs-12"> *@
@*                             <section class="list"> *@
@*                                 <header><h4> دسترسی سریع</h4></header> *@
@*                                 <ul> *@
@*                                     <li><a href="">مشاهده تمامی دوره ها</a></li> *@
@*                                     <li><a href="">قوانین خرید از سایت </a></li> *@
@*                                     <li><a href="">راهنمای خرید از سایت </a></li> *@
@*                                     <li><a href="">همکاری با تاپ لرن </a></li> *@
@*                                     <li><a href="">کسب درآمد از تاپ لرن </a></li> *@
@*                                     <li><a href="">ماهنامه طراحی وب</a></li> *@
@*                                 </ul> *@
@*                             </section> *@
@*                         </div> *@
@*                         <div class="col-md-3 col-sm-6 col-xs-12"> *@
@*                             <section class="list"> *@
@*                                 <header><h4> دسترسی سریع</h4></header> *@
@*                                 <ul> *@
@*                                     <li><a href="">مشاهده تمامی دوره ها</a></li> *@
@*                                     <li><a href="">قوانین خرید از سایت </a></li> *@
@*                                     <li><a href="">راهنمای خرید از سایت </a></li> *@
@*                                     <li><a href="">همکاری با تاپ لرن </a></li> *@
@*                                     <li><a href="">کسب درآمد از تاپ لرن </a></li> *@
@*                                     <li><a href="">ماهنامه طراحی وب</a></li> *@
@*                                 </ul> *@
@*                             </section> *@
@*                         </div> *@
@*                         <div class="col-md-3 col-sm-6 col-xs-12"> *@
@*                             <section class="list"> *@
@*                                 <header><h4> دسترسی سریع</h4></header> *@
@*                                 <ul> *@
@*                                     <li><a href="">مشاهده تمامی دوره ها</a></li> *@
@*                                     <li><a href="">قوانین خرید از سایت </a></li> *@
@*                                     <li><a href="">راهنمای خرید از سایت </a></li> *@
@*                                     <li><a href="">همکاری با تاپ لرن </a></li> *@
@*                                     <li><a href="">کسب درآمد از تاپ لرن </a></li> *@
@*                                     <li><a href="">ماهنامه طراحی وب</a></li> *@
@*                                 </ul> *@
@*                             </section> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="bottom-footer"> *@
@*                 <div class="container"> *@
@*                     <p> *@
@*                         تمامی حقوق مادی و معنوی این قالب متعلق به <a href=""> تاپ لرن </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد . *@
@*                     </p> *@
@*                 </div> *@
@*             </div> *@
@*         </footer> *@
<section class="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>برای جدیدترین مطالب با ما در تماس باشید </h2>
                </div>
            </div>
        </div>
        <form id="contact" action="" method="get">
            <div class="row">
                <div class="col-md-4 col-md-offset-3">
                    <fieldset>
                        <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required="">
                    </fieldset>
                </div>
                <div class="col-md-2">
                    <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>tell : 0912000000</p>
            </div>
            <div class="col-md-4">
                <ul class="social-icons">
                    <li>
                        <a rel="nofollow" href="https://fb.com/templatemo">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>Design: TemplateMo</p>
            </div>
        </div>
    </div>
</footer>